<html>
<head>
  <title>{% block title %}$ Bread ${% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">

  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block head %}
  {% endblock %}
</head>
<body>
  <div>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>