<html>
<head>
  <title>{% block title %}$ Bread ${% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">

  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">

  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block head %}
  {% endblock %}
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/account">Accounts</a>
  </nav>

  <div class="content-wrapper">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>